#foto_cont{
   margin-top: 40px;
   width: 100%;
}

/* Dimensiones de la imagen */
#foto_cont .foto{
    width: 100%;
    margin-bottom: 15px;
}

#foto_cont .foto img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
	object-fit: cover;
}

#foto_opciones{
    text-align: center;
}

/* Estilo del input type file y su label */
[type="file"]{
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.label_foto{
    cursor: pointer;
    color: #267CB5;
    font-size: 1.1rem;
    font-weight: bold;
}

.label_foto span{
    margin-right: 10px;
}

.label_foto:hover{
    border-bottom: 2px solid #267CB5;
}

/* Seccion Iformacion del perfil */
#info_cont{
    margin-top: 75px;
    box-shadow: 1.5px 1.5px 10px rgba(0,0,0,0.5) , -1.5px -1.5px 10px rgba(0,0,0,0.5);
}
#info_cont h2{
    text-align: center;
    padding: 15px 10px;
}

.card_info{
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    padding: 15px 10px;
    font-weight: bold;
    text-align: center;
}

.card_info:first-child{
    margin-top: 10px;
}

/* Media Query de "Seccion Informacion del perfil" */
@media(min-width: 569px){

    #foto_cont{
        margin-top: 10px;
    }

    #info_cont{
        margin-top: 50px;
    }

    .card_info{
        display: flex;
        flex-flow: row wrap;
    }

    .card_info p{
        width: 50%;
        font-size: 1.2rem;
    }
}

@media(min-width:812px){
    .card_info p{
        font-size: 1.4rem;
    }
}

/* Seccion de Ayuda */
#ayuda_cont{
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 1.5px 1.5px 10px rgba(0,0,0,0.5) , -1.5px -1.5px 10px rgba(0,0,0,0.5);
}

#ayuda_cont h2{
    margin-bottom: 15px;
}

.card_ayuda a{
    font-weight: bold;
    text-decoration: none;
    color: #267CB5;
}

.card_ayuda a:hover{
    border-bottom: 2px solid #267CB5;
}

@media(min-width: 569px){

    .card_ayuda a{
       font-size: 1.2rem;
    }

    #ayuda_cont{
        margin-top: 75px;
    }
}


/* Modal */
.modal_container{
    width: 100%;
    height: 100%;
    visibility: hidden;
    /* background: rgba(0,0,0,0.7); */
    position: fixed;
    z-index: 100;
    transform: scale(0.1,0.1);
}

.modal{
    width: 75%;
    height: 90vh;
    background: #FFFFFF;
    padding: 30px 25px;
    z-index: 1000;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow: scroll;
}

.modal h2{
    font-size: 1.3rem;
    margin: 15px 0 25px 0;
    text-align: center;
}

.foto_modal{
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    position: relative;
}

/* Position del boton de cerrar "X" */
.div_form .icon_x{
    padding: 5px;
    position: absolute;
    top: 2%;
    right: 5%;
}

.div_form .icon_x:hover{
    color: #BD1E2D;
    cursor: pointer;
    
}
/* Final del estilo boton de cerrar "X" */

.foto_modal img{
    width: 150px;
    height: 150px;
	border-radius: 50%;
	object-fit: cover;
}

#form_foto p{
    text-align: justify;
    
}

#form_foto li{
    margin-left: 20px;
    list-style: square;
}

.opciones_modal{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    flex-flow: column wrap;
}

.elim_foto{
    border: none;
    text-decoration: none;
    background: none;
    margin-top: 15px;
}

.opciones_modal label, a{
    display: inline-block;
    width: auto;
    color: rgba(38,124,181);
    font-size: 0.9rem;
    font-weight: bold;
}

.opciones_modal span{
    margin-right: 10px;
}

.opciones_modal label:hover{
    color: rgb(16, 94, 146);
    transition: all 0.9s;
    cursor: pointer;
}

.btn_modal{
    margin-top: 40px;
    text-align: right;
}

.btn_modal input{
    width: 35%;
    background: #267CB5;
    padding: 10px;
    border: none;
    outline: none;
    color: #FFFFFF;
}

#input_submit{
    margin-right: 15px;
}

.btn_modal input:hover{
    cursor: pointer;
    background: #64addd;
}

/* Media Query de "Modal" */
@media(min-width: 569px){

    .modal{
        width: 60%;
        margin: 20px 0 40px 0;
        top: 47%;
    }

    .modal h2{
        font-size: 1.5rem;
    }

    .div_form .icon_x{
        padding: 10px;
        font-size: 1.4rem;
    }

    .foto_modal img{
        width: 150px;
        height: 150px;
	    border-radius: 50%;
	    object-fit: cover;
    }

    .opciones_modal{
        margin-top: 20px;
    }

    .opciones_modal label, a{
        font-size: 1.1rem;
    }

    .btn_modal{
        margin-top: 40px;
    }

    .btn_modal input{
        /* width: 35%;
        padding: 10px; */
        width: 25%;
        padding: 10px 10px;
    }
}

@media(min-width: 812px){

    .modal{
        padding: 20px 40px;
    }

    .modal h2{
        font-size: 1.6rem;
        margin: 20px 0 40px 0;
    }

    .foto_modal{
        margin-bottom: 40px;
    }

     .foto_modal img{
        width: 200px;
        height: 200px;
    }

    #form_foto p{
        text-align: justify;
        font-size: 1.2rem;
        
    }
    
    #form_foto li{
        margin-left: 40px;
        font-size: 1.2rem;
    }

    .opciones_modal label, a{
        margin-bottom: 10px;
    }

    .btn_modal input{
        width: 25%;
        margin-top: 20px;
        padding: 15px 10px;
    }
}

@media(min-width: 1200px){

    .modal{
        width: 45%;
    }

    
}