@import url("normalize.css");
@import url("estructura.css");
@import url("menu_v.css");
@import url("menu_h.css");
@import url("registro.css");
@import url("registro_media_query.css");
@import url("media-query812.css");
@import url("media-query570.css");