#nav_v li:nth-child(1){  /*resalto */
	background: #BE1E2D;
	color: #000000;
}

.nombre{
	position: relative;
	overflow: hidden;
}

.nombre:hover{
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

/* Contenedor principal para las opciones de perfil */
.nombre ul{
	position: absolute;
	top: 100%;
	left: -75px;
	margin-top: -500px;
	visibility: hidden;
	transition: all 0.5s;
}

.nombre a{
	text-decoration: none;
	width: 150px;
	color: #000000;
	font-size: 1rem;
	font-weight: bold;
	padding: 10px 10px;
	cursor: pointer;
	transition: all 0.5s;
}

/* Contenedor de las opciones */
.nombre #perfil{
	text-align: center;
	background: #fff;
	display: flex;
	flex-flow: column wrap;	
	z-index: 100;
}

#perfil hr{
	text-align: center;
	border: 0.5px solid #000;
	margin: auto;
	width: 90%;
}

.nombre a:hover{
	background: #000;
	color: #fff;
}

/* Mostrar opciones de perfil */

.nombre:hover {
	cursor: pointer;
	overflow: initial;
}
.nombre:hover ul {
	margin-top: 0;
	visibility: visible;
	transition: all 0.8s;
}