@media screen and (min-width: 812px){

	.ventana form{
		
		width: 60%;
		margin: auto;
		padding: 6% 8%;
	}

	form div input {
		font-size: 1.4rem
	}

	/* Icono de visibilidad para contrasena */
	.campos .alert_visibility .fa-eye{
		font-size: 1.4rem;
	}

	.campos .alert_visibility{
		top: 20%;
	}

	/* Div's errores */
	.div_error{
		font-size: 1.4rem;
	}

}

@media screen and (min-width: 1080px){

	.ventana form{
		width: 50%;
		margin: auto;
		padding: 2% 6%;
	}

	label{ 
		font-size: 1.4rem;
	}

	form div input {
		font-size: 1.6rem
	}

	#boton{
		font-size: 1.5rem;
	}

}