@media screen and (min-width: 812px){

	.ventana form{
		
		width: 50%;
		/*padding: 50px;*/
	}

	#boton{
		width: 75%;
	}

}

@media screen and (min-width: 1080px){

	.ventana form{
		
		width: 50%;
		
	}

	h1{

		font-size: 2rem;
	}

	h2{ 
		font-size: 1.5rem;
	}

	#boton{
		width: 50%;
	}
}