@media screen and (min-width: 812px){

	.ventana form{
		
		width: 60%;
	}

	form .correo {
		font-size: 1.4rem;
	}

	#boton{
		width: 75%;
	}

	/* Iconos de alerta de errores*/
	.campos .alert_icon .fa-exclamation-circle{
		font-size: 1.8rem;
	}

	.campos .alert_icon{
		right: 4%;
		top: 22%;
	}

	/* Div's de error */
	.div_error{
		
		width: 100%;
		height: auto;
		text-align: center;
		margin-top: 40px;
		font-size: 1.2rem;
	}

}

@media screen and (min-width: 1080px){

	.ventana form{
		
		width: 50%;
		
	}

	h1{

		font-size: 2rem;
	}

	label{ 
		font-size: 1.5rem;
	}

	#boton{
		width: 50%;
	}
}