*{
	padding: 0;
	margin: 0;
	font-family: verdana, sans-serif;
	box-sizing: border-box;
}
.contenedor{
	 position: relative;
}
img{
	width: 100%;
	background-repeat: no-repeat;
}
.parte1{
    height: 150px;
    background-color: white;
    display: grid;
    grid-template-areas:
    "logo boton" ;
    align-items: center;
    margin: 0 20px 0 20px;
}
.logo{
    position: relative;
    width: 150px;
    grid-area: logo;
}
.botonarriba{
    position: relative;
    grid-area: boton;
    color: black;
    background: red;
}
.boton button{
    padding: 8px;
    float: right;
    margin: 25px 0 0 0;
}
