/*Ventana*/
.ventana{
	background: #262261;
	opacity: 0.8;
	width: 25%;
	color: black;
	font-size: 18px;
	text-align: center;
	padding: 33px;
	min-height: 400px;
	position: absolute;
	left: 40%;
	top: 35%;
	display: block;
	outline: 4000px solid rgba(0, 0, 0, 0.2);

}
h1{
	float: left;
	color: white;
	font-size: 30px;
}