/*TAMANO DE LOS ICONOS Menu Horizontal*/

	/*Le damos tmaano a todos los iconos, menos al de la foto de ususario, ya que esta debe ser más grande*/
#nav_h img:not(#usuario){
	width: 30px;
	height: 30px
}

/*MENÚ HORIZONTAL*/

#menu_h{
	background: #BD1E2D;
	height: auto;
	position: sticky;
	top: 0
}

#nav_h{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
}


/*Modidicar la poisición de los iconos del menu horizontal (rojo)*/

div.regre button{
	background: rgba(0,0,0,0);
	border: none;
	cursor: pointer;
	padding: 10px;
	outline: none;
}

div.regre button:hover{
	background: rgba(0,0,0,0.5);
}

.notifi{
	margin-right: 70px;
	padding: 5px
}

.notifi:hover{
	background: rgba(0,0,0,0.5);
}

/* Submenu Idiomas */
.idioma{
	/* width: auto;
	height: auto; */
	margin-right: 20px;
	position: relative;
}

.menu_idiomas > a{
	padding: 5px 10px;
}

.idioma .menu_idiomas:last-child{
	z-index: -1;
	position: absolute;
	top: 0;
}

.idioma:hover{
	background: #FFFFFF;
}

.idioma:hover .menu_idiomas:last-child{
	top: 100%;
	background: #FFFFFF;
	z-index: 1;
	transition: all 0.3s;
}

.usuario{
	margin-right: 10px;
}

.usuario img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;
}

/*Editar el texto del div que contiene el nombre del usuario*/
.nombre div{
	color: #FFFFFF;
	font-size: 1.2rem;
}

.nombre{
	position: relative
}

#nav_h ul{
	display: flex;
	align-items: center;
	height: 83px
}

#nav_h li{
	display: flex;
	justify-content: space-between;
}



/*SUBMENU*/

.submenu_h img{
	width: 20px;
	height: 20px
}

/*Generar un espacio entre los iconos y el texto*/
.submenu_h span{
	margin-right: 10px
}

.submenu_h{
	background: #000000;
	display: flex;
	justify-content: space-between;
	
	padding: 5px 20px;
	position: sticky;
	top: 93px;

}

.submenu_h a{
	color: #FFFFFF
}