.container_load{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
	text-align: center;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 100;
}

.container_load_js{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
	text-align: center;
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 100;
}

.load_father{
    width: 80%;
    height: auto;
    padding: 25px 0;
    background: #fff;
    align-self: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.circle{
    display: inline-block;
	width: 100px;
    height: 100px;
	border-radius: 50%;
    margin-bottom: 10px;
	border: solid 10px rgba(33,150,243,1);
	border-bottom: groove 10px;
	animation: load 2.5s ease infinite 0s normal;
}

.load_father p{
    font-size: 1rem;
}

.load_father span{
    font-size: 1.4rem;
}

@keyframes load {
  /*from {transform: rotateZ(360deg);}
  to {transform: rotateZ(360deg;}*/
  0%{transform: rotateZ(1080deg);}
  25%{transform: rotateZ(1080deg);}
  100%{transform: rotateZ(0deg);}
}

@media screen and (min-width: 812px){
    .load_father{
        width: 50%;
        height: auto;
        padding: 25px 0;
    }

    .circle{
        width: 150px;
        height: 150px;
    }

    .load_father p{
        font-size: 1.2rem;
    }
    
    .load_father span{
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1080px){
    .circle{
        width: 200px;
        height: 200px;
        border: solid 15px rgba(33,150,243,1);
        border-bottom: groove 15px;
    }
}