#nav_v li:nth-child(2){  /*resalto */
	background: #BE1E2D;
	color: #000000;
}


.form_correos{ 		/*Contenedor del formulario, es un <form>*/
	background: #FFFFFF;
	width: 100%;
	height: 100%;
	border-radius: 3%;
	text-align: center;
	padding: 20px 20px;
	display: flex;
	align-items: center;
	flex-flow: column wrap;
	border: 1px solid #BCCBD3;
	box-shadow: 1.5px 1.5px 15px rgba(0,0,0,0.5) , -1.5px -1.5px 15px rgba(0,0,0,0.5);
}

.form_correos h1, h3{
	margin: 0 0 50px 0;

}

.form_correos label{
	margin: 25px 0 0 0;
}

.form_correos input, textarea{
	border: 1px solid rgba(128,189,255,1);
	box-shadow: 2px 2px 5px rgba(128,189,255,0.5) , -2px -2px 5px rgba(128,189,255,0.5);
	margin: 20px 0 25px 0
}


#asunto_correos::placeholder{
	font-style: italic;
}

#asunto_correos{
	width: 50%;
	text-align: center;
	padding: 5px 10px;
	border-radius: 5px;
}

#mensaje_correos{  /*textarea*/
	width: 70%;
	height: 100px;
	padding: 10px 25px;
	border-radius: 10px;
	resize: none; /*evitar cambiar de tamano el textarea*/
}


.cont_btn{  	/*Contenedor que guarda los botones de "enviar" y archivos*/
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	
}

/*.btn_correos{
	width: 100%;
}*/

.btn_correos{ 		/*estilos de los botones*/

	background: rgba(38,124,181,1);
	color: #ffffff;
	font-weight: bold;
	font-size: 1rem;
	border: none;
	border-radius: 10%;
	width: 25%;
	padding: 3% 2%;
	margin: 75px 0 0 0;
	outline: none;
}

.btn_correos:hover{
	box-shadow: 3px 3px 10px rgba(0,0,0,0.5) , -3px -3px 10px rgba(0,0,0,0.5);
	cursor: pointer;
}

.btn_correos:active{
	transform: scale(0.9);
}

#error_asunto, #error_correo{
	margin-top: -20px;
	font-size: 1.4rem;
	font-weight: bold;
	
}