.fondo{
	
	background: url("../../img/prueba2.jpg") no-repeat fixed center;
}



/*Ventana*/
.ventana{
	text-align: center;
	padding: 50px
}

.ventana form{
	background: #262261;
	opacity: 0.9;
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	font-size: 0.8rem;
	padding: 33px;
	min-height: 400px;
	/*outline: 4000px solid rgba(0, 0, 0, 0.2);*/

}


form div input {
	
	margin: 0 0 20px 0;
	padding: 10px;
	height: 40px;
	width: 100%;
	font-size: 20px;
}
/*Cuerpo*/
h1{
    margin: 0 0 20px 0;
    font-size: 2rem;
    color: #ffffff
}
h2{ 
	margin: 20px 0 20px 0;
	text-align: left;
	color: #ffffff;
}
/*Parte abajo*/
#texto{
	padding-top: 30px;
	color: white;
	text-align: right;
}
#boton{
	padding: 25px;
	margin: 25px 0 0 0;
	float: center;
	background: red;
	color: white;
	text-align: center;
	font-size: 1.2rem;
	border: none;
	cursor: pointer;
	outline: none;
}

#boton:hover{
	background: #ffffff;
	color: #262261;
}
