
.fondo{
	background: url("../../img/prueba2.jpg") no-repeat fixed center;
}

/*Contenedor del formulario*/
.ventana{
	text-align: center;
	padding: 40px
}

.ventana form{
	background: #262261;
	margin: auto;
	opacity: 0.9;
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	font-size: 0.8rem;
	padding: 50px;
}


form .correo {

	width: 100%;
	padding: 10px;
	margin-top: 20px;
	font-size: 1.2rem;
	font-weight: bold;
}

/*Cuerpo*/
h1{
	color: #ffffff;
	text-align: center;
	font-size: 1.8rem;
}

h2{ font-size: 1.2rem;
	margin: 30px 0 0 0;
	color: #ffffff
}


/*Parte abajo*/
#boton{
	width: 100%;
	padding: 20px;
	margin: 40px 0 0 0;
	float: center;
	background: red;
	color: white;
	font-size: 1.5rem;
	border: none;
	cursor: pointer;
	outline: none;
}

#boton:hover{
	
	background: #ffffff;
	color: #262261;

}
