
.fondo{
	background: url("../../img/prueba2.jpg") no-repeat fixed center;
}

/*Contenedor del formulario*/
.ventana{
	text-align: center;
	padding: 40px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-content: center;
}

.ventana form{
	background: #262261;
	margin: auto;
	opacity: 0.9;
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	font-size: 0.8rem;
	padding: 50px;
}


form .correo {

	width: 100%;
	padding: 10px;
	margin-top: 20px;
	font-size: 1rem;
	font-weight: bold;
}

/* Contenedor del unico input (correo) */
.campos{
	position: relative;
	width: 100%;
}

/* Iconos de alerta de errores*/
.campos .alert_icon .fa-exclamation-circle{
	font-size: 1.5rem;
	color: red;
}

.campos .alert_icon{
	display: none;
	position: absolute;
	right: 4%;
	top: 24%;
}

/* Div's de error */
.div_error{
	display: none;
	width: 100%;
	height: auto;
	margin: auto;
	padding: 8px 10px;
	text-align: center;
	margin-top: 30px;
	color: #fff;
	font-size: 1.1rem;
	font-weight: bold;
	
	/* background: #FB6566; */
	background: #FB6566;

	border-radius: 4px;
	border-bottom: 1px solid red;
}

/*Cuerpo*/
h1{
	color: #ffffff;
	text-align: center;
	/* font-size: 1.8rem; */
}

label{ font-size: 1.2rem;
	margin: 30px 0 0 0;
	color: #ffffff
}


/*Parte abajo*/
#boton{
	width: 100%;
	padding: 20px;
	margin: 40px 0 0 0;
	float: center;
	background: red;
	color: white;
	font-size: 1.5rem;
	border: none;
	cursor: pointer;
	outline: none;
}

#boton:hover{
	background: #ffffff;
	color: #262261;

}
