/*Imagen de fondo*/
.fondo{
	
	background: url("../../img/prueba2.jpg") no-repeat fixed center;
}



/*Ventana*/
.ventana{
	text-align: center;
	padding: 50px
}

.ventana form{
	background: #262261;
	opacity: 0.9;
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	font-size: 0.8rem;
	padding: 33px;
	min-height: 400px;
	/*outline: 4000px solid rgba(0, 0, 0, 0.2);*/

}

h1{
	color: #ffffff;
	text-align: center;
	font-size: 1.5rem;
}


/*Input*/
form input {
	margin: 40px 0 -39.9px 0;
	padding-left: 75px;
	height: 52px;
	width: 100%;
	font-size: 20px;
	/*text-align: center;*/
}

/*Iconos*/

.campos{
	position: relative;
}

.campos span img{
	width: 40px;
	height: 40px;
}

.campos span{
	position: absolute;
	left: 3%;
	top: 60%;
}


/*Texto*/

.div-texto{

	margin-top: 50px;
	text-align: right;
	display: block;

}

#texto{
	font-size: 1.2rem;
	color: white;
	text-decoration: none;
	
}

#texto:hover{
	border-bottom: 2px solid #ffffff;
	cursor: pointer;

}

/*Boton final*/
#boton{
	padding: 12px;
	height: 70px;
	margin: 25px 0 0 0;
	float: center;
	background: red;
	color: white;
	font-size: 1.5rem;
	border: none;
	cursor: pointer;
	outline: none;
}

#boton:hover{
	
	background: #ffffff;
	color: #262261;

}