*{
	padding: 0;
	margin: 0;
	font-family: calibri;
	box-sizing: border-box;
}

img{
	width: 100%;
	background-repeat: no-repeat;
}

.parte1{  /*header*/
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px
}

.logo{ /*Contenedor del logo*/
    width: 150px;
}
.botonarriba{
    background: rgb(32,29,81);
    color: #ffffff;
    font-size: 1.1rem;
    outline: none;
    padding: 1.5% 2%;
    border: none;
    cursor: pointer;
}

.botonarriba:hover{
    background: rgba(32,29,81,0.8);
    transition: all 0.5s;
}

