*{
	padding: 0;
	margin: 0;
	font-family: calibri;
	box-sizing: border-box;
}

img{
	width: 100%;
	background-repeat: no-repeat;
}

.parte1{  /*header*/
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 15px
}

.logo{ /*Contenedor del logo*/
    width: 150px;
}
.botonarriba{
    padding: 15px;
    background: rgb(32,29,81);
    color: #ffffff;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.botonarriba:hover{
    background: rgba(32,29,81,0.8);
    transition: all 0.5s;
}

@media screen and (min-width: 812px){
    .logo{ /*Contenedor del logo*/
        width: 150px;
    }

    .botonarriba{
        padding: 15px;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1080px){
    .botonarriba{
        padding: 20px 25px;
        font-size: 1.4rem;
    }
}

