@import url("normalize.css");
@import url("estructura.css");
@import url("menu_v.css");
@import url("menu_h.css");
@import url("citas_clientes.css");
@import url("media-query-citas-cliente.css");
@import url("media-query812.css");
@import url("media-query570.css");