@media screen and (max-width: 812px){

	.btn_registro{
		font-size: 1.2rem;
		padding: 2% 2%;
	}

	.registro h2, h3{
		font-size: 1.5rem;
	}
}


@media screen and (min-width: 813px){
	.data{
		width: 100%;
		display: grid;
		grid-template-columns: 0.4fr 0.5fr;
		margin-top: 40px;
		margin-bottom: 20px;
	}

	.data_rol{
		align-items: center;
	}

	.registro label{
		font-size: 1.5rem;
		text-align: center;
	}

	.input{
		margin-top: 0;
	}
	
	.btn_registro{
		font-size: 1.5rem;
	}

	
}