#nav_v li:nth-child(3){  /*resalto */
	background: #BE1E2D;
	color: #000000;
}


.registro{ 		/*Contenedor del formulario, es un <form>*/
	background: #FFFFFF;
	width: 100%;
	height: 100%;
	border-radius: 3%;
	text-align: center;
	padding: 20px 20px;
	display: flex;
	align-items: center;
	flex-flow: column wrap;
	border: 1px solid #BCCBD3;
	box-shadow: 1.5px 1.5px 15px rgba(0,0,0,0.5) , -1.5px -1.5px 15px rgba(0,0,0,0.5);
}

.registro h1{
	margin: 0 0 50px 0;

}

.registro label{
	margin: 25px 0 0 0;
	font-size: 1.2rem
}

.registro input{
	border: 1px solid rgba(128,189,255,1);
	margin: 20px 0 25px 0
}

.registro input:focus, textarea:focus{
	border: none;
	box-shadow: 5px 5px 5px rgba(128,189,255,0.5) , -5px -5px 5px rgba(128,189,255,0.5);
}

.input::placeholder{
	font-style: italic;
}

.input{
	width: 50%;
	height: 30px;
	text-align: center;
	padding: 5px 10px;
	font-size: 20px;
}


.select{
    width: 50%;
	height: 30px;
	text-align: center;
	padding: 5px 10px;
    font-size: 15px;
    border: 1px solid rgba(128,189,255,1);
    margin: 20px 0 25px 0;
    text-align: center;
    text-align-last: center;
}
.select:focus{
	border: none;
	box-shadow: 5px 5px 5px rgba(128,189,255,0.5) , -5px -5px 5px rgba(128,189,255,0.5);
}

.cont_btn{  	/*Contenedor que guarda los botones de "enviar" y archivos*/
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 100%;
}

.btn_registro{ 		/*estilos de los botones*/
	background: rgba(38,124,181,1);
	color: #FFF;
	font-weight: bold;
	font-size: 1.2rem;
	border: none;
	border-radius: 15px;
	width: 25%;
	padding: 2.5% 2%;
	margin: 75px 0 0 0;
	outline: none;
}

.btn_registro:hover{
	box-shadow: 3px 3px 10px rgba(0,0,0,0.5) , -3px -3px 10px rgba(0,0,0,0.5);
	cursor: pointer;
}

.btn_registro:active{
	transform: scale(0.9);
	box-shadow: none;
}

.errores{
	margin-top: -20px;
    margin-bottom: 20px;
	font-size: 1.5rem;
	font-weight: bold;
}