@media screen and (min-width: 812px){

	#mensaje_ct{
		height: 250px;
		font-size: 1.5rem;
	}	


	#asunto_ct{
		width: 50%;
		font-size: 1.1rem;
	}

	.btn_ct{

		font-size: 1.2rem;
		padding: 2% 2%;
	}
}

@media screen and (min-width: 1080px){
	.btn_ct{

		font-size: 1.5rem;
		/*padding: 3% 0.5%;*/
	}

	
}