.li_citas {
    /*resalto */
    background: #BE1E2D;
    color: #000000;
}

/* Esta altura evita que la pagina se acorte por la falta de cotenido en el <main> */
.container{
    min-height: 1500px;
}

/*Contenedor de las tarjetas*/

#reservas {
    display: grid;
    grid-template-columns: repeat(1, auto);
}

.admin_citas h1 {
    font-size: 2.5rem
}

/*Tarjetas*/

.card-reserva {
    background: #FFFFFF;
    /*background: #ffffff;*/
    /*border: 1px solid #000;*/
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 20px;
    margin: 15px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5), -1.5px -1.5px 10px rgba(0, 0, 0, 0.5);
}

.card-reserva h3 {
    margin-bottom: 2px;
    text-align: center;
}


/*Generar espacion entre los datos de las tarjetas*/

.card-reserva p {
    margin: 0 0 5px 0;
}

#separar-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.btn {
    border-radius: 15px;
    width: 30%;
    height: 45px;
    padding: 2.5% 2%;
    margin: 10px 0 0 0;
    outline: none;
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    border: none;
}

.btn:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5), -3px -3px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn:active {
    transform: scale(0.9);
    box-shadow: none;
}

.danger {
    background: rgba(187, 45, 59);
}

.success {
    background: rgba(21, 115, 71);
}

.errores {
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}