@media screen and (min-width: 812px){

	#reservas{
		grid-template-columns: repeat(2, auto);
	}

}

@media screen and (min-width: 1080px){
	
	#reservas{
		grid-template-columns: repeat(3, auto);
	}

}