@media screen and (min-width: 812px){

	.btn_reserva{

		font-size: 1.2rem;
		padding: 2% 2%;
	}
}

@media screen and (min-width: 1080px){
	.btn_reserva{

		font-size: 1.5rem;
		/*padding: 3% 0.5%;*/
	}

	
}