#nav_v li:nth-child(4){  /*resalto */
    background: #BE1E2D;
    color: #000000;
}

.container{
    height: auto;
}

.reserva_acept{      /*Contenedor del formulario, es un <form>*/
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    text-align: center;
    padding: 20px 20px;
    border: 1px solid #BCCBD3;
    box-shadow: 1.5px 1.5px 15px rgba(0,0,0,0.5) , -1.5px -1.5px 15px rgba(0,0,0,0.5);
}

.data{
	margin-bottom: 60px;
	text-align: left;
}

.reserva_acept h1{
    margin: 20px 0 60px 0;
    font-size: 2.5rem

}

.reserva_acept label{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}

/*Crear esapcio entre los campos del formmulario*/
.reserva_acept input{

	width: 100%;
    height: 40px;
    text-align: center;
    padding: 5px 10px;
    margin-top: 15px;
    font-size: 1.2rem;
    border: 1px solid rgba(128,189,255,1);
    box-shadow: 2px 2px 5px rgba(128,189,255,0.5) , -2px -2px 5px rgba(128,189,255,0.5);
}

.select{
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 5px 10px;
    margin-top: 15px;
    font-size: 15px;
    border: 1px solid rgba(128,189,255,1);
    text-align: center;
    text-align-last: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.select:focus{
	border: none;
	box-shadow: 5px 5px 5px rgba(128,189,255,0.5) , -5px -5px 5px rgba(128,189,255,0.5);
}

.cont_btn{     
    width: 100%; /*Contenedor que guarda los botones de "enviar" y archivos*/
    text-align: center;
}


.btn_reserva{       /*estilos de los botones*/
    background: rgba(38,124,181,1);
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 1.5rem;
    width: 40%;
    padding: 4% 2%;
    outline: none;
}

.btn_reserva:hover{
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5) , -3px -3px 10px rgba(0,0,0,0.5);
    cursor: pointer;
}

.btn_reserva:active{
    transform: scale(0.9);
}

.errores{
    display: none;
    margin-top: 0;
	font-size: 1.2rem;
	font-weight: bold;
    text-align: center;
}